{% extends "SharimgDefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1>Timeline: {{ screenName }}</h1>
        <table>
            <thead>
                <tr>
                    <th>{{ 'Tweet'|trans }}</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Image'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in timeline %}
                    <tr>
                        <td>{{ tweet.text }}<input id="author-{{ loop.index }}" type="hidden" value="{{ tweet.author }}" /></td>
                        <td><input id="description-{{ loop.index }}" type="text" class="form-control tweet-description-input" value="{{ tweet.title }}" /></td>
                        <td>{% if tweet.image is not empty %}<a href="{{ tweet.image }}" target="_blank"><img id="img-{{ loop.index }}" width="200" src="{{ tweet.image }}" alt="{{ tweet.image }}" /></a>{% else %}-{% endif %}</td>
                        <td>{% if tweet.image is not empty %}<button class="btn btn-primary btn-import" id="btn-{{ loop.index }}">Import</button>{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function() {
            $('.alert').alert().hide();
        
            $('.btn-import').click(function(e) {
                e.preventDefault();
            
                var id = $(this).attr('id').substring(4);
            
                var description = $('#description-'+id).val();
                var media_url = $('#img-'+id).attr("src");
                var author = $('#author-'+id).val();
                var source = '@'+author+' (Twitter)';
                var visible = '1';
                var data = 'description='+description+"&media_url="+media_url+"&source="+source+"&visible="+visible;
            
                var url = Routing.generate('sharimg_api_content_add');
            
                $.post(url, data, function (data) {
                    if ('content' in data) {
                        alert('Content imported.');
                    } else if('error' in data && 'err_msg' in data.error) {
                        alert(data.error.err_msg);
                    } else {
                        alert('An error has occured');
                    }
                });
            })
        });
        </script>
{% endblock %}