<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Sharimg{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
        <link href="{{ asset('bundles/sharimgdefault/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sharimgdefault/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sharimgdefault/css/main.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% include "SharimgDefaultBundle::nav_bar.html.twig" %}
            
        {% block content %}{% endblock %}
            
        <hr/>
        <footer>
            <div class="container">
                <p>{{ 'sharimg.copyright'|trans }}</p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('bundles/sharimgdefault/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/sharimgdefault/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/sharimgdefault/bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        {% endblock %}
    </body>
</html>